/* This stylesheet is used to style the admin option form of the plugin. */

.dd_width_big{
	width: 300px;
}

	.dd_width_big input{
		width: 300px;
	}


.dd_width_small{
	width: 200px;
}

	.dd_width_small input{
		width: 200px;
	}
	
.dd_bloc_float{
	display: block;
	float: left;
}

.dd_bloc_small{
	width: 380px;
}

.dd_bloc_big{
	width: 620px;
}

.dd_clear{
	clear: both;
	visibility: hidden;
	content: ".";
	padding: 0;
	margin: 0;
}
	
.dd_alertes_form{
	width: 320px;
	display: block;
	background: #dddddd;
	padding: 10px;
}


#ui-datepicker-div{
 font-size:13px !important;
}

#ui-datepicker-div.ui-datepicker table{
   font-size: 1em !important;
}

.form-table.dd_table_alertes{
	width: 360px;
}

.form-table.dd_table_alertes th,
.form-table.dd_table_alertes td,
.form-table.dd_table_sent td,
.form-table.dd_table_sent th
{
	padding: 5px;
	margin: 0;
	line-height: 18px;
	vertical-align: top;
}

.form-table.dd_table_sent td
{
	padding: 3px 5px 10px;
}

.form-table.dd_table_sent th
{
	padding: 5px;
	width: 150px;
}

.dd_table_header th{
	background:#222222;
	color: #fff;
}

.form-table.dd_users{
	margin-bottom: 20px;
}

.form-table.dd_users th,.form-table.dd_users td, .form-table.dd_users td p{
	font-size: 12px;
	padding: 2px 5px;
	width: 250px;
	vertical-align: top;
	margin-top: 0;
	border: 1px solid #d0d0d0;
}

.form-table.dd_users tr.dd_table_user_header th{
	text-align: center;
	padding: 5px 5px;
	font-weight: normal;
	background: #bccfdb;
	font-size: 14px;
}

.form-table.dd_minified_table th,.form-table.dd_minified_table td{
	font-size: 12px;
	padding: 2px 5px;
	vertical-align: middle;	
}


.widefat tfoot tr th#id_nouveaute, .widefat thead tr th#id_nouveaute {
    width: 100px;
}

.widefat tfoot tr th#datep_nouveaute, 
.widefat thead tr th#datep_nouveaute,
.widefat tfoot tr th#numero_nouveaute, 
.widefat thead tr th#numero_nouveaute {
    width: 200px;
}

.widefat tbody#the-list tr td{
	font-size: 12px;
	line-height: 18px;
}
